@page "/GestionarTarea/{ID?}"
@using System.Text.Json
@using GestorTareas.Data.Repositories
@inject TareaRepository tareaRepository
@inject NavigationManager Nav

<div class="container">
	<div class="row">
		<div class="col-12">
			<EditForm Model="tarea" OnValidSubmit="() => SaveTarea(tarea)" class="d-flex flex-column justify-content-center" novalidate>
				<DataAnnotationsValidator />

				<div class="form-floating mb-3">
					<InputText class="form-control" @bind-Value="tarea.Nombre" placeholder="Nombre:" />
					<label class="form-label">Nombre:</label>
				</div>

				<div class="form-floating mb-3">
					<InputText class="form-control" @bind-Value="tarea.Materia" placeholder="Materia:" />
					<label class="form-label">Materia:</label>
				</div>

				<div class="form-floating mb-3">
					<input class="form-control" type="datetime-local" @bind="tarea.Fecha" placeholder="Fecha:" @oninput="e => tarea.Fecha = DateTime.Parse((e.Value!.ToString())!)" />
					<label class="form-label">Fecha:</label>
				</div>

				<div class="form-floating mb-3">
					<InputTextArea class="form-control" @bind-Value="tarea.Comentarios" placeholder="Comentarios:" />
					<label class="form-label">Comentarios:</label>
				</div>

				<button class="@ButtonClass" type="submit">
					<span class="@ButtonIconClass me-1" />
					@ButtonText
				</button>
			</EditForm>
		</div>
	</div>
</div>
